@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 10px 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

.logo {
    height: 40px;
}

.sea {
    background-image:url(img/sea-4768869_1920.jpg);
    height: 100%;
   
    
}

.checked {
    color: orange;
}

.flags {
    
}

footer {
    background-color: #252525;
    color: white;
}
