@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .global-header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .global-header nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .global-header ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

header .global-header ul .left{
    justify-content: flex-start;
}

header .global-header ul .right{
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

header .global-header ul .right .top-links{
    display: flex;
    gap: 20px;
}

header .global-header ul .right .bottom-links {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    width: 100%;
}

header .global-header a {
    text-decoration: none;
    color: inherit;
}

header .global-header .logo {
    width: 50%;
    height: auto;
}

header .global-header .account-link {
    border: 2px solid #52d3f0;
    border-radius: 25px;
    padding: 5px 15px;
    color: #52d3f0;
}

header .global-header .account-link i {
    color: #52d3f0;
}

img{
    width: 100%;
    height: auto;
}

.logo{
    width: 5%;
    height: auto;
}

footer {
    background-color: #252525;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer .footer-flags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

footer .footer-flags img {
    width: 30px;
    height: auto;
}

footer .footer-flags span{
    margin-right: 20px;
    font-size: 14px;
    color: white;
}

footer .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
}

footer .footer-section {
    text-align: left;
}

footer .footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

footer .footer-section ul {
    list-style: none;
    padding: 0;
}

footer .footer-section ul li {
    margin-bottom: 10px;
}

footer .footer-section ul li a {
    color: white;
    text-decoration: none;
}

footer .footer-section ul li a :hover {
    text-decoration: none;
}

footer .pay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .pay h4 {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

footer .payment-icons {
    display: flex;
    gap: 10px;
}


footer .payment-icons i{
    font-size: 24px;
    color: white;
}

footer .social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .social .account-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

footer .social .account-links a{
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

footer .social .account-links a :hover{
    text-decoration: none;
}

footer .social h4 {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

footer .social-icons {
    display: flex;
    gap: 10px;
}

footer .social-icons a {
    color: white;
    font-size: 24px;
}

footer .social-icons a:hover{
    color: #f0a500;
}

.background-image-container {
    position: relative;
    height: 162px;
    overflow: hidden;
}

.background.image {
    width: 100%;
    height: auto;
    transform: translateY(-85%);
}

.summer-tour {
    text-align: center;
    padding: 20px;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.selection-box {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selection-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.selection-nav ul li {
    margin-bottom: 10px;
}

.selection-nav ul li a {
    color: black;
    text-decoration: none;
    position: relative;
}

.selection-nav ul li a .selected ::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #52d3f0;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.selection-nav ul li a:hover{
    text-decoration: none;
}

.selected-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    width: 100%;
}

.selection-form select,
.selection-form input[type="date"],
.selection-form input[type="number"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.selected-form .search-button {
    background-color: #ffcf40;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.centered-image {
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 35%;
    right: 10%;
    transform: rotateY(-50%);
    background-color: #52d3f0;
    padding: 20px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 40%;
    color: black;
}

.text-overlay h2 {
    font-size: 32px;
    margin: 0 0 10px 0;
}

.text-overlay p {
    font-size: 19px;
    margin: 5px 0;
}

.book-now{
    position: absolute;
    top: calc(35% + 20px + 10px);
    right: 10%;
    background-color: #ffcf40;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.offers-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.offer-box {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.offer-box h4{
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.offer-box a{
    color: #52d3f0;
    text-decoration: none;
}

.offer-box a :hover{
    text-decoration: none;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto);
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.grid-container article {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-container article img {
    border-radius: 15px;
    margin-bottom: 15px;
}

.grid-container article h3 {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.grid-container article p {
    flex-grow: 1;
}

.grid-container article a {
    color: #52d3f0;
    text-decoration: none;
    align-self: flex-start;
}

.grid-container article a :hover{
    text-decoration: none;
}

.checked {
    color: orange;
}


@media only screen and (max-width: 768px) {
    header.global-header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    header.global-header ul.right {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .hidedesktop {
        display: block;
    }

    .offers-grid,
    .grid-container {
        width: 100%;
        padding: 10px;
    }

    .selection-form {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 768px) {

}